## GENERAL

### LIBRERIAS

In [35]:
# Importo las librerías necesarias
import sqlite3  # Para trabajar con bases de datos SQLite

## QUERIES DDL

In [36]:
def query_ddl(query):
    try:
        # Utiliza el cursor para ejecutar la consulta.
        cursor.executescript(query)

        # No hay necesidad de obtener registros en una consulta DDL. Puedes eliminar esta parte.
        print('Query ejecutado con éxito.')

    except:
        print('La consulta falló, revise su sintaxis y estructura.')

## BBDD INUPDE

### CREACION BBDD

In [37]:
db_inupde = sqlite3.connect('../../Datos/gestores_locales/INUPDE.db')
cursor = db_inupde.cursor()

#### CREACION TABLA CLIENTES

In [38]:
query = '''
    DROP TABLE IF EXISTS clientes;
    CREATE TABLE clientes (
    id_cliente INTEGER PRIMARY KEY,
    dni TEXT UNIQUE NOT NULL,
    nombre TEXT NOT NULL,
    apellido TEXT NOT NULL,
    genero TEXT CHECK (genero IN ('MUJER', 'HOMBRE')) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    mail TEXT NOT NULL,
    movil TEXT NOT NULL,
    domicilio TEXT NOT NULL,
    barrio TEXT NOT NULL,
    nacionalidad TEXT NOT NULL
    );
'''

query_ddl(query)

Query ejecutado con éxito.

### CIERRE DE CONEXION BBDD INUPDE

In [39]:
db_inupde.commit()
db_inupde.close()

## BBDD WORLD

### CREACION BBDD

In [40]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../datos/gestores_locales/operaciones.db')
cursor = db_world.cursor()

#### CREACION TABLA CITY

In [41]:
# Creo una tabla en la base de datos 'OPERACIONES.db' si no existe
query = '''
    -- Table structure for table 'city'

    -- Elimina la tabla si existe
    DROP TABLE IF EXISTS city;

    -- Crea la tabla city
    CREATE TABLE city (
    ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL DEFAULT '',
    CountryCode TEXT NOT NULL DEFAULT '',
    District TEXT NOT NULL DEFAULT '',
    Population INTEGER NOT NULL DEFAULT 0,
    FOREIGN KEY (CountryCode) REFERENCES country (Code)
);
'''

# Luego puedes usar la función query_ddl para ejecutar esta consulta.
query_ddl(query)

Query ejecutado con éxito.

#### CREACION TABLA COUNTRY

In [42]:
query = '''
-- Table structure for table 'country'

-- Elimina la tabla si existe
DROP TABLE IF EXISTS country;

-- Crea la tabla country
CREATE TABLE country (
  Code TEXT NOT NULL DEFAULT '',
  Name TEXT NOT NULL DEFAULT '',
  Continent TEXT NOT NULL DEFAULT 'Asia' CHECK (Continent IN ('Asia', 'Europe', 'North America', 'Africa', 'Oceania', 'Antarctica', 'South America')),
  Region TEXT NOT NULL DEFAULT '',
  SurfaceArea REAL NOT NULL DEFAULT 0.00,
  IndepYear INTEGER,
  Population INTEGER NOT NULL DEFAULT 0,
  LifeExpectancy REAL,
  GNP REAL,
  GNPOld REAL,
  LocalName TEXT NOT NULL DEFAULT '',
  GovernmentForm TEXT NOT NULL DEFAULT '',
  HeadOfState TEXT,
  Capital INTEGER,
  Code2 TEXT NOT NULL DEFAULT '',
  PRIMARY KEY (Code)
);
'''

# Luego puedes usar la función query_ddl para ejecutar esta consulta.
query_ddl(query)

Query ejecutado con éxito.

#### CREACION TABLA COUNTRY LANGUAGE

In [43]:
query = '''
-- Table structure for table 'countrylanguage'

-- Elimina la tabla si existe
DROP TABLE IF EXISTS countrylanguage;

-- Crea la tabla countrylanguage
CREATE TABLE countrylanguage (
  CountryCode TEXT NOT NULL DEFAULT '',
  Language TEXT NOT NULL DEFAULT '',
  IsOfficial TEXT NOT NULL DEFAULT 'F' CHECK (IsOfficial IN ('T', 'F')),
  Percentage REAL NOT NULL DEFAULT 0.0,
  PRIMARY KEY (CountryCode, Language),
  FOREIGN KEY (CountryCode) REFERENCES country (Code)
);
'''

# Luego puedes usar la función query_ddl para ejecutar esta consulta.
query_ddl(query)

Query ejecutado con éxito.

### CIERRE DE CONEXION BBDD WORLD

In [44]:
db_world.commit()
db_world.close()