## GENERAL

### LIBRERIAS

In [81]:
# Importo las librerías necesarias
import pandas as pd  # Para el manejo de dataframes
import numpy as np  # Para la creación de arrays y el manejo de estadísticas
import scipy.stats as st  # Para la obtención de estadísticas
import sqlite3  # Para trabajar con bases de datos SQLite
import plotly.express as px

### BBDD INUPDE

### QUERIES DML

In [82]:
# Crear un diccionario para almacenar los resultados
resultados = {}

In [83]:
# Función para ejecutar las consultas y guardar los resultados en un diccionario
def ejecutar_consulta(query, numero_consulta=0, resultados=''):
    try:
        cursor.execute(query)
        resultados[numero_consulta] = cursor.fetchall()
        
        try:
            db_world.commit()

        except:
            db_inupde.commit()

    except Exception as e:
        print(f"Hubo un error al realizar el query {numero_consulta} en la base de datos: {str(e)}")

#### INSERT

In [84]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/inupde.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en consultas individuales
consultas = sql_script.split('),(')

# Filtra y ejecuta las consultas con 6 comillas simples
for consulta in consultas[2:]:
    try:
        consulta_sql = "INSERT INTO `clientes` (id_cliente, dni, nombre, apellido, genero, fecha_nacimiento, mail, movil, domicilio, barrio, nacionalidad) VALUES (" + consulta + ")"
        cursor.execute(consulta_sql)
        db_inupde.commit()
    except:
        pass
    db_inupde.close()

### BBDD WORLD

#### INSERT

##### TABLA CITY

In [85]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_city.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        try:
            cursor.executescript(statement)
            db_world.commit()
        except:
            pass
    db_world.close()

##### TABLA COUNTRY

In [86]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_country.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        try:
            cursor.executescript(statement)
            db_world.commit()
        except:
            pass
    db_world.close()

##### TABLA COUNTRY LANGUAGE

In [87]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_country_language.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        try:
            cursor.executescript(statement)
            db_world.commit()
        except:
            pass
    db_world.close()

##### GUIA DE EJERSICIOS

In [88]:
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

# Definir las consultas de inserción y números de consulta
consultas_insercion = {
    51: "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('12169851', 'Luis Enrique', 'Pérez', 'HOMBRE', '1954-06-01', 'perez_luisenrique@ma1l.com', '1157319468', 'Pujol 416', 'Caballito', 'Uruguay')",
    52: [
        "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('17278290','Florencia','Santos','MUJER','1963-07-12','flor.santos@ma1l.com','1148434346','Piran 3015','Villa Urquiza','Argentina')",
        "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('16839283','Luisa Nina','Escudero','MUJER','1962-03-22','lulu62@hushma1l.com','1175940343','Superi 348 1º A','Colegiales','Colombia')",
        "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('19164274','Carlos Alberto','Medina','HOMBRE','1966-04-26','medinacarlosalberto@z0h0.com','1123423451','Mexico 2121','Balvanera','Argentina')"
    ],
    53: "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('36.427.254', 'Maria Sol', 'Gonzalez', 'MUJER', '1992-08-15', 'ma.gon54@gma1l.com', '1136782013', 'Gurruchaga 243', 'Villa Crespo', 'Argentina')"
}

# Ejecutar las consultas de inserción
for numero_consulta, consulta in consultas_insercion.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_inupde.close()

Hubo un error al realizar el query 52 en la base de datos: execute() argument 1 must be str, not list

#### UPDATE

In [89]:
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

# Definir las consultas de modificación y números de consulta
consultas_modificacion = {
    54: "UPDATE clientes SET apellido = 'Chaves' WHERE ID_cliente = 85;",
    55: "UPDATE clientes SET dni = substr('0' || dni, -8) WHERE length(dni) = 7;",
    56: "UPDATE clientes SET nombre = 'Nicolás' WHERE nombre = 'Nicolas';",
    57: "UPDATE clientes SET apellido = upper(apellido) WHERE nacionalidad != 'Argentina';"
}

# Ejecutar las consultas de modificación
for numero_consulta, consulta in consultas_modificacion.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_inupde.close()

#### DELETE

In [90]:
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

# Definir las consultas de eliminación y números de consulta
consultas_eliminacion = {
    58: "DELETE FROM clientes WHERE id_cliente = 9804;",
    59: "DELETE FROM clientes WHERE mail like '%@z0h0%';",
    60: "DELETE FROM clientes WHERE barrio = 'Floresta';"
}

# Ejecutar las consultas de eliminación
for numero_consulta, consulta in consultas_eliminacion.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_inupde.close()

#### SELECT

11. Listar todos los datos de los países que no cuenten con habitantes. (Se esperan 15 columnas y 7 registros).

12. Listar todos los datos de los países cuya expectativa de vida supere los setenta y cinco años, ordenados bajo este concepto de forma ascendente. (Se esperan 15 columnas y 62 registros).

13. Listar todos los datos de los países cuya independencia haya ocurrido a partir de la segunda mitad del siglo XIX y su forma de gobierno sea una monarquía constitucional. (Se esperan 15 columnas y 20 registros).

14. Listar todos los datos de los diez países europeos de mayor PBN. (Se esperan 15 columnas y 10 registros).

15. Listar todos los datos de los países cuyo nombre registrado coincida con su nombre local. (Se esperan 15 columnas y 104 registros).

16. Listar todos los datos de los países cuya independencia se haya dado a partir de la segunda mitad del siglo XX. (Se esperan 15 columnas y 110 registros).

17. Listar todos los datos de los países situados en Europa, Asia o Sudamérica. (Se esperan 15 columnas y 111 registros).

18. Listar todos los datos de todos los países, excepto los africanos. (Se esperan 15 columnas y 181 registros).

19. Listar todos los datos de las ciudades argentinas fuera de la provincia de Buenos Aires. (Se esperan 5 columnas y 26 registros).

20. Listar todos los datos de las ciudades de entre 125 mil y 130 mil habitantes. (Se esperan 5 columnas y 138 registros).

In [91]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    11: "SELECT * FROM country WHERE population = 0;",
    12: "SELECT * FROM country WHERE lifeexpectancy > 75 ORDER BY lifeexpectancy ASC;",
    13: "SELECT * FROM country WHERE indepyear > 1850 AND governmentform = 'Constitutional Monarchy';",
    14: "SELECT * FROM country WHERE continent = 'Europe' ORDER BY gnp DESC LIMIT 10;",
    15: "SELECT * FROM country WHERE name = localname;",
    16: "SELECT * FROM country WHERE indepyear > 1950;",
    17: "SELECT * FROM country WHERE continent IN ('Europe', 'Asia', 'Sudamérica');",
    18: "SELECT * FROM country WHERE continent != 'Africa';",
    19: """
        SELECT city.* 
        FROM city 
        JOIN country ON city.countrycode = country.code 
        WHERE city.countrycode IN (SELECT code FROM country WHERE capital = 'Buenos Aires' AND name = 'Argentina')
        AND country.code != 'AR';
    """,
    20: """
        SELECT city.* 
        FROM city 
        JOIN country ON city.countrycode = country.code 
        WHERE city.population BETWEEN 125000 AND 130000;
    """
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    resultado_consulta = ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

21. Listar todos los datos de los países donde no se cuente con datos acerca de su independencia. (Se esperan 15 columnas y 47 registros).
22. Listar todos los datos de los países donde no se tengan datos acerca del PBN anterior ni de la expectativa de vida.
23. Listar todos los datos de los países cuyo nombre comience y termine con 'A'. (Se esperan 15 columnas y 13 registros). (Se esperan 15 columnas y 17 registros).
24. Listar todos los datos de los países cuyo nombre sea compuesto (más de una palabra). (Se esperan 15 columnas y 66 registros).
25. Listar todos los datos de las ciudades cuyo nombre o distrito contengan un '-' (guión medio). (Se esperan 5 columnas y 372 registros).

In [92]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    21: "SELECT * FROM country WHERE indepyear IS NULL;",
    22: "SELECT * FROM country WHERE gnp IS NULL AND lifeexpectancy IS NULL;",
    23: "SELECT * FROM country WHERE name LIKE 'A%A';",
    24: "SELECT * FROM country WHERE name LIKE '% %';",
    25: """
        SELECT city.* 
        FROM country 
        INNER JOIN city ON country.code = city.countrycode 
        WHERE city.name LIKE '%-%' OR city.district LIKE '%-%';
    """
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

##### FILTRADO

In [93]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    21: "SELECT * FROM country WHERE indepyear IS NULL;",
    22: "SELECT * FROM country WHERE gnp IS NULL AND lifeexpectancy IS NULL;",
    23: "SELECT * FROM country WHERE name LIKE 'A%A';",
    24: "SELECT * FROM country WHERE name LIKE '% %';",
    25: """
        SELECT city.* 
        FROM country 
        INNER JOIN city ON country.code = city.countrycode 
        WHERE city.name LIKE '%-%';
    """
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)
    
db_world.close()

In [94]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    46: "SELECT country.indepyear as anio_independencia, count(country.name) as cantidad_paises FROM country WHERE indepyear IS NOT NULL GROUP BY country.indepyear HAVING cantidad_paises > 1;",
    47: "SELECT country.name, count(countrylanguage.countrycode) as cantidad_idiomas FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode GROUP BY country.name HAVING cantidad_idiomas BETWEEN 3 AND 5;",
    48: "SELECT city.district, city.name, sum(city.population) as poblacion_suma FROM city INNER JOIN country ON city.countrycode = country.code GROUP BY district HAVING poblacion_suma < 10000;",
    49: "SELECT region, avg(population) as poblacion_promedio FROM country GROUP BY region HAVING poblacion_promedio > (SELECT max(population) / 2 FROM country);",
    50: "SELECT language, avg(percentage) as promedio_habla FROM countrylanguage GROUP BY language HAVING promedio_habla < 1;"
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

In [95]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    26: "SELECT name AS pais, capital AS Capital FROM country WHERE continent = 'South America';",
    27: "SELECT country.code, city.name AS nombre_ciudad, city.population AS poblacion FROM country INNER JOIN city ON country.code = city.countrycode WHERE country.lifeexpectancy > 80;",
    28: "SELECT country.name AS Capital FROM country INNER JOIN city ON city.id = country.capital WHERE governmentform = 'Federal Republic';",
    29: "SELECT countrylanguage.language, country.name AS pais FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE country.population BETWEEN 1000000 AND 3000000;",
    30: "SELECT country.code, country.localname, country.region FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE countrylanguage.language = 'Spanish';",
    31: "SELECT country.name, city.name AS Capital FROM country INNER JOIN city ON country.capital = city.id WHERE city.population > country.population / 2;",
    32: "SELECT country.name, country.surfacearea FROM country INNER JOIN city ON country.capital = city.id WHERE city.name = city.district AND country.continent = 'Africa';",
    33: "SELECT country.name, city.name AS Capital, country.indepyear FROM country INNER JOIN city ON country.capital = city.id WHERE country.name IS NOT NULL AND city.name IS NOT NULL AND country.indepyear IS NOT NULL ORDER BY country.indepyear DESC LIMIT 20;",
    34: "SELECT city.name AS nombre_ciudad, countrylanguage.language FROM country INNER JOIN city ON country.code = city.countrycode INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE countrylanguage.language NOT IN ('Spanish', 'English', 'Portuguese', 'German', 'Italian', 'French');",
    35: "SELECT city.name AS nombre_ciudad, city.population AS poblacion, country.name AS pais FROM country INNER JOIN city ON country.capital = city.id WHERE country.continent = 'Europe' GROUP BY city.name ORDER BY city.population DESC LIMIT 10;"
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

6. Listar toda la información de los países, ordenados por población de manera ascendente. (Se esperan 15 columnas y 239 registros).

7. Listar nombre de los lenguajes en orden alfabético. (Se espera 1 columna y 984 registros).

8. Listar nombre y cantidad de habitantes de las veinte ciudades menos pobladas. (Se esperan 2 columnas y 20 registros).

9. Listar código, nombre y año de independencia de todos los países, ordenados por antigüedad descendente. (Se esperan 3 columnas y 239 registros).

10. Listar nombre y continente de los cien países con mayor expectativa de vida. Si hubiera países que tengan la misma expectativa de vida, mostrar primero a los de menor superficie. (Se esperan 2 columnas y 100 registros).

In [96]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    6: "SELECT * FROM country ORDER BY population ASC;",
    7: "SELECT countrylanguage.Language FROM countrylanguage ORDER BY language ASC;",
    8: "SELECT name, population FROM country GROUP BY name ORDER BY population ASC LIMIT 20;",
    9: "SELECT code, name, indepyear FROM country GROUP BY name ORDER BY indepyear DESC;",
    10: "SELECT name, continent FROM country GROUP BY name ORDER BY lifeexpectancy DESC, surfacearea ASC LIMIT 100;"
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

#### FUNCIONES DE AGRUPAMIENTO

36. Mostrar según la tabla de países, la cantidad total de población, la población máxima, la población mínima, el promedio de población y con cuántos registros de población se cuenta. (Se esperan 5 columnas y 1 registro).

37. Mostrar según la tabla de países, la cantidad total de población, la población máxima, la población mínima y el promedio de población, por cada continente. (Se esperan 5 columnas y 7 registros).

38. Agrupar a todos los países según el continente al que pertenecen. Mostrar los continentes junto a la cantidad de naciones que pertenecen a cada uno. (Se esperan 2 columnas y 7 registros).

39. Agrupar a todas las ciudades según el país al que pertenecen. Mostrar los códigos de países junto a la sumatoria total de habitantes de cada uno. (Se esperan 2 columnas y 232 registros).

40. Agrupar a todos los lenguajes según su nombre. Mostrar los nombres de los lenguajes junto al porcentaje de habla mínimo registrado para cada uno. (Se esperan 2 columnas y 457 registros).

41. Mostrar las distintas formas de gobierno posibles de los países europeos junto a su correspondiente promedio de población que vive bajo estas circunstancias. (Se esperan 2 columnas y 10 registros).

42. Mostrar las diez regiones de mayor expectativa de vida promedio. (Se esperan 2 columnas y 10 registros).

43. Mostrar los nombres de los diez distritos de mayor cantidad de ciudades con cantidad de habitantes mayor al medio millón, junto a la cantidad de ciudades. (Se esperan 3 columnas y 10 registros).

44. Mostrar los nombres de los países que tengan ciudades en el Caribe, junto al número de las mismas por país. (Se esperan 2 columnas y 24 registros).

45. Mostrar los lenguajes existentes junto a la cantidad de países que lo hablan de manera oficial. (Se esperan 2 columnas y 102 registros).

In [97]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

# Definir las consultas y números de consulta
consultas = {
    36: "SELECT count(population) as poblacion, max(population) as poblacion_maxima, min(population) as poblacion_minima, avg(population) as poblacion_promedio, count(*) as cantidad_registros FROM country;",
    37: "SELECT continent, count(population) as cantidad_poblacion, max(population) as poblacion_maxima, min(population) as poblacion_minima, avg(population) as poblacion_promedio FROM country GROUP BY continent;",
    38: "SELECT continent, count(name) as cantidad_naciones FROM country GROUP BY continent;",
    39: "SELECT country.name, country.code, sum(city.population) as total_habitantes FROM country INNER JOIN city ON country.code = city.countrycode GROUP BY country.code;",
    40: "SELECT language, min(percentage) as porcentaje_minimo FROM countrylanguage GROUP BY language;",
    41: "SELECT governmentform, avg(population) as poblacion_promedio FROM country WHERE continent = 'Europe' GROUP BY governmentform;",
    42: "SELECT region, avg(lifeexpectancy) as expectativa_vida_promedio FROM country GROUP BY region ORDER BY expectativa_vida_promedio DESC LIMIT 10;",
    43: "SELECT district, count(name) as cantidad_ciudades FROM city WHERE population > 500000 GROUP BY district ORDER BY cantidad_ciudades DESC LIMIT 10;",
    44: "SELECT country.name, count(city.name) as cantidad_ciudades_caribe FROM country INNER JOIN city ON city.countrycode = country.code WHERE city.name = 'Caribe' GROUP BY country.name;",
    45: "SELECT language, count(DISTINCT country.name) as cantidad_paises_que_lo_hablan FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode GROUP BY language;"
}

# Ejecutar las consultas y guardar los resultados
for numero_consulta, consulta in consultas.items():
    ejecutar_consulta(consulta, numero_consulta, resultados)

db_world.close()

## Respuesta a preguntas

Ingrese un numero entre 1 y 60 y obtendra la respuesta.

In [111]:
try:
    numero_respuesta = input('Ingresa un número entre 1 y 60 para ver la respuesta a la pregunta: ')
    numero_consulta = int(numero_respuesta)  # Convertir la entrada a un número entero

    if 1 <= numero_consulta <= 60:
        print(resultados.get(numero_consulta, "Respuesta no encontrada"))
    else:
        print("El número ingresado está fuera del rango (1-60).")
except ValueError:
    print("Ingresa un número válido.")
except Exception as e:
    print(f"Ocurrió un error: {e}")

[('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')]