## GENERAL

### LIBRERIAS

In [11]:
# Importo las librerías necesarias
import pandas as pd  # Para el manejo de dataframes
import numpy as np  # Para la creación de arrays y el manejo de estadísticas
import scipy.stats as st  # Para la obtención de estadísticas
import sqlite3  # Para trabajar con bases de datos SQLite
import plotly.express as px

### BBDD INUPDE

In [12]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

### QUERIES DML

In [13]:
def query_dml(query):
    try:
            if isinstance(query, list):
                for consulta in query:
                    cursor.executescript(consulta)
            else:
                try:
                    cursor.executescript(query)
                except:
                    cursor.execute(query)
            db_world.commit()

    except Exception as e:
        print('Hubo un error al realizar el query en la base de datos:', str(e))

#### INSERT

In [14]:
# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/inupde.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en consultas individuales
consultas = sql_script.split('),(')

# Filtra y ejecuta las consultas con 6 comillas simples
for consulta in consultas[2:]:
    try:
        consulta_sql = "INSERT INTO `clientes` (id_cliente, dni, nombre, apellido, genero, fecha_nacimiento, mail, movil, domicilio, barrio, nacionalidad) VALUES (" + consulta + ")"
        cursor.execute(consulta_sql)
    except:
        pass

### BBDD WORLD

In [15]:
# Establezco la conexión a la base de datos 'OPERACIONES.db' y creo un cursor
db_world = sqlite3.connect('../../data/local_managers/world.db')
cursor = db_world.cursor()

#### INSERT

##### TABLA CITY

In [16]:
# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_city.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        query_dml(statement)

##### TABLA COUNTRY

In [17]:
# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_country.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        query_dml(statement)

Hubo un error al realizar el query en la base de datos: near "sRepublic": syntax error
Hubo un error al realizar el query en la base de datos: near "ahau": syntax error

##### TABLA COUNTRY LANGUAGE

In [18]:
# Abre y lee el archivo .sql que contiene las consultas de inserción
with open('../../data/world_country_language.sql', 'r') as file:
    sql_script = file.read()

# Divide el script en instrucciones individuales
sql_statements = sql_script.split(';')

# Ejecuta cada declaración SQL
for statement in sql_statements:
    statement = statement.strip()
    if statement:
        query_dml(statement)

#### CIERRE

In [21]:
db_world.commit()
db_world.close()

##### GUIA DE EJERSICIOS

In [23]:
db_inupde = sqlite3.connect('../../data/local_managers/inupde.db')
cursor = db_inupde.cursor()

# 51. Insertar un nuevo cliente con los siguientes datos:
query_dml("INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('12169851', 'Luis Enrique', 'Pérez', 'HOMBRE', '1954-06-01', 'perez_luisenrique@ma1l.com', '1157319468', 'Pujol 416', 'Caballito', 'Uruguay')")

# 52. Insertar los siguientes clientes en una sola consulta:
query_dml([
    "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('17278290','Florencia','Santos','MUJER','1963-07-12','flor.santos@ma1l.com','1148434346','Piran 3015','Villa Urquiza','Argentina')",
    "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('16839283','Luisa Nina','Escudero','MUJER','1962-03-22','lulu62@hushma1l.com','1175940343','Superi 348 1º A','Colegiales','Colombia')",
    "INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('19164274','Carlos Alberto','Medina','HOMBRE','1966-04-26','medinacarlosalberto@z0h0.com','1123423451','Mexico 2121','Balvanera','Argentina')"
])

# 53. Insertar una cliente llamada María Sol González:
query_dml("INSERT INTO clientes (DNI, nombre, apellido, genero, Fecha_nacimiento, Mail, Movil, domicilio, Barrio, Nacionalidad) VALUES ('36.427.254', 'Maria Sol', 'Gonzalez', 'MUJER', '1992-08-15', 'ma.gon54@gma1l.com', '1136782013', 'Gurruchaga 243', 'Villa Crespo', 'Argentina')")

Hubo un error al realizar el query en la base de datos: Cannot operate on a closed database.
Hubo un error al realizar el query en la base de datos: Cannot operate on a closed database.
Hubo un error al realizar el query en la base de datos: Cannot operate on a closed database.

#### UPDATE

In [ ]:
# 54. Modificar el apellido de la cliente 85 por 'Chaves'.
query_dml("UPDATE clientes SET apellido = 'Chaves' WHERE ID_cliente = 85;", operacion='update')

# 55. Agregar un cero a la izquierda de todos los DNI con exactamente siete cifras.
query_dml("UPDATE clientes SET dni = substr('0' || dni, -8) WHERE length(dni) = 7;", operacion='update')

# 56. Agregar una tilde a todos los clientes llamados 'Nicolas' como único nombre para que el mismo pase a ser 'Nicolás'.
query_dml("UPDATE clientes SET nombre = 'Nicolás' WHERE nombre = 'Nicolas';", operacion='update')

# 57. Poner en mayúsculas los apellidos de los clientes cuya nacionalidad no sea 'Argentina'.
query_dml("UPDATE clientes SET apellido = upper(apellido) WHERE nacionalidad != 'Argentina';", operacion='update')

#### DELETE

In [ ]:
# 58. Eliminar al cliente 9804. (Se espera 1 registro afectado).
query_dml("DELETE FROM clientes WHERE id_cliente = 9804;", operacion='delete')

# 59. Eliminar a los clientes cuyo servidor de mail sea 'z0h0'. (Se esperan 2127 registros afectados).
query_dml("DELETE FROM clientes WHERE mail like '%@z0h0%';", operacion='delete')

# 60. Eliminar a todos los clientes que residan en el barrio de 'Flores'. (Se esperan 803 registros afectados).
query_dml("DELETE FROM clientes WHERE barrio = 'Floresta';", operacion='delete')

#### SELECT

In [ ]:
# 11. Listar todos los datos de los países que no cuenten con habitantes. (Se esperan 15 columnas y 7 registros).
query_dml("SELECT * FROM country WHERE population = 0;", operacion='read')

# 12. Listar todos los datos de los países cuya expectativa de vida supere los setenta y cinco años, ordenados bajo este concepto de forma ascendente.
# (Se esperan 15 columnas y 62 registros).
query_dml("SELECT * FROM country WHERE lifeexpectancy > 75 ORDER BY lifeexpectancy ASC;", operacion='read')

# 13. Listar todos los datos de los países cuya independencia haya ocurrido a partir de la segunda mitad del siglo XIX y su forma de gobierno sea
# una monarquía constitucional. (Se esperan 15 columnas y 20 registros).
query_dml("SELECT * FROM country WHERE indepyear > 1801 AND governmentform = 'Constitutional Monarchy';", operacion='read')

# 14. Listar todos los datos de los diez países europeos de mayor PBN. (Se esperan 15 columnas y 10 registros).
query_dml("SELECT * FROM country WHERE continent = 'Europe' GROUP BY name ORDER BY population DESC LIMIT 10;", operacion='read')

# 15. Listar todos los datos de los países cuyo nombre registrado coincida con su nombre local. (Se esperan 15 columnas y 104 registros).
query_dml("SELECT * FROM country WHERE name = localname;", operacion='read')

# 16. Listar todos los datos de los países cuya independencia se haya dado a partir de la segunda mitad del siglo XX. (Se esperan 15 columnas y 110 registros).
query_dml("SELECT * FROM country WHERE indepyear > 1900;", operacion='read')

# 17. Listar todos los datos de los países situados en Europa, Asia o Sudamérica. (Se esperan 15 columnas y 111 registros).
query_dml("SELECT * FROM country WHERE continent = 'Europe' OR continent = 'Asia' OR continent = 'Sudamérica';", operacion='read')

# 18. Listar todos los datos de todos los países, excepto los africanos. (Se esperan 15 columnas y 181 registros).
query_dml("SELECT * FROM country WHERE continent != 'Africa';", operacion='read')

# 19. Listar todos los datos de las ciudades argentinas fuera de la provincia de Buenos Aires. (Se esperan 5 columnas y 26 registros).
query_dml("SELECT * FROM city LEFT JOIN country ON city.countrycode = country.code WHERE city.countrycode NOT IN (SELECT code FROM country WHERE capital = 'Buenos Aires' AND country.name = 'Argentina');", operacion='read')

# 20. Listar todos los datos de las ciudades de entre 125 mil y 130 mil habitantes. (Se esperan 5 columnas y 138 registros).
query_dml("SELECT * FROM country JOIN city ON country.code = city.countrycode WHERE city.population BETWEEN 125000 AND 130000;", operacion='read')

In [ ]:
# 21. Listar todos los datos de los países donde no se cuente con datos acerca de su independencia. (Se esperan 15 columnas y 47 registros).
query_dml("SELECT * FROM country WHERE indepyear IS NULL;", operacion='read')

# 22. Listar todos los datos de los países donde no se tengan datos acerca del PBN anterior ni de la expectativa de vida.
# (Se esperan 15 columnas y 17 registros).
query_dml("SELECT * FROM country WHERE population IS NULL AND lifeexpectancy IS NULL;", operacion='read')

# 23. Listar todos los datos de los países cuyo nombre comience y termine con 'A'. (Se esperan 15 columnas y 13 registros).
query_dml("SELECT * FROM country WHERE name LIKE 'A%A';", operacion='read')

# 24. Listar todos los datos de los países cuyo nombre sea compuesto (más de una palabra). (Se esperan 15 columnas y 66 registros).
query_dml("SELECT * FROM country WHERE name LIKE '% %';", operacion='read')

# 25. Listar todos los datos de las ciudades cuyo nombre o distrito contengan un '-' (guión medio). (Se esperan 5 columnas y 372 registros).
query_dml("SELECT * FROM country INNER JOIN city ON country.code = city.countrycode WHERE city.name LIKE '%-%' OR city.district LIKE '%-%';", operacion='read')

##### FILTRADO

In [ ]:
# 11. Listar todos los datos de los países que no cuenten con habitantes. (Se esperan 15 columnas y 7 registros).
query_dml("SELECT * FROM country WHERE population = 0;", operacion='read')

# 12. Listar todos los datos de los países cuya expectativa de vida supere los setenta y cinco años, ordenados bajo este concepto de forma ascendente.
# (Se esperan 15 columnas y 62 registros).
query_dml("SELECT * FROM country WHERE lifeexpectancy > 75 ORDER BY lifeexpectancy ASC;", operacion='read')

# 13. Listar todos los datos de los países cuya independencia haya ocurrido a partir de la segunda mitad del siglo XIX y su forma de gobierno sea
# una monarquía constitucional. (Se esperan 15 columnas y 20 registros).
query_dml("SELECT * FROM country WHERE indepyear > 1800 AND governmentform = 'Constitutional Monarchy';", operacion='read')

# 14. Listar todos los datos de los diez países europeos de mayor PBN. (Se esperan 15 columnas y 10 registros).
query_dml("SELECT * FROM country WHERE continent = 'Europe' ORDER BY population DESC LIMIT 10;", operacion='read')

# 15. Listar todos los datos de los países cuyo nombre registrado coincida con su nombre local. (Se esperan 15 columnas y 104 registros).
query_dml("SELECT * FROM country WHERE name = localname;", operacion='read')

# 16. Listar todos los datos de los países cuya independencia se haya dado a partir de la segunda mitad del siglo XX. (Se esperan 15 columnas y 110 registros).
query_dml("SELECT * FROM country WHERE indepyear > 1950;", operacion='read')

# 17. Listar todos los datos de los países situados en Europa, Asia o Sudamérica. (Se esperan 15 columnas y 111 registros).
query_dml("SELECT * FROM country WHERE continent IN ('Europe', 'Asia', 'Sudamérica');", operacion='read')

# 18. Listar todos los datos de todos los países, excepto los africanos. (Se esperan 15 columnas y 181 registros).
query_dml("SELECT * FROM country WHERE continent != 'Africa';", operacion='read')

# 19. Listar todos los datos de las ciudades argentinas fuera de la provincia de Buenos Aires. (Se esperan 5 columnas y 26 registros).
query_dml("SELECT * FROM city LEFT JOIN country ON city.countrycode = country.code WHERE city.countrycode NOT IN (SELECT code FROM country WHERE capital = 'Buenos Aires' AND country.name = 'Argentina');", operacion='read')

# 20. Listar todos los datos de las ciudades de entre 125 mil y 130 mil habitantes. (Se esperan 5 columnas y 138 registros).
query_dml("SELECT * FROM country JOIN city ON country.code = city.countrycode WHERE city.population BETWEEN 125000 AND 130000;", operacion='read')

In [ ]:
# 21. Listar todos los datos de los países donde no se cuente con datos acerca de su independencia. (Se esperan 15 columnas y 47 registros).
query_dml("SELECT * FROM country WHERE indepyear IS NULL;", operacion='read')

# 22. Listar todos los datos de los países donde no se tengan datos acerca del PBN anterior ni de la expectativa de vida.
# (Se esperan 15 columnas y 17 registros).
query_dml("SELECT * FROM country WHERE population IS NULL AND lifeexpectancy IS NULL;", operacion='read')

# 23. Listar todos los datos de los países cuyo nombre comience y termine con 'A'. (Se esperan 15 columnas y 13 registros).
query_dml("SELECT * FROM country WHERE name LIKE 'A%A';", operacion='read')

# 24. Listar todos los datos de los países cuyo nombre sea compuesto (más de una palabra). (Se esperan 15 columnas y 66 registros).
query_dml("SELECT * FROM country WHERE name LIKE '% %';", operacion='read')

# 25. Listar todos los datos de las ciudades cuyo nombre o distrito contengan un '-' (guión medio). (Se esperan 5 columnas y 372 registros).
query_dml("SELECT * FROM country INNER JOIN city ON country.code = city.countrycode WHERE city.name LIKE '%-%';", operacion='read')

In [ ]:
# 46. Mostrar listados los años de independencia (sin nulos) junto a la cantidad de países que la hayan conseguido en ese año.
# Se desea visualizar aquellos años donde más de un país se haya independizado. (Se esperan 2 columnas y 39 registros).
query_dml("SELECT country.indepyear as anio_independencia, count(country.name) as cantidad_paises FROM country WHERE indepyear IS NOT NULL GROUP BY country.indepyear HAVING cantidad_paises > 1;", operacion='read')

# 47. Listar los países junto a la cantidad de idiomas diferentes hablados, pero solo aquellos donde se hablen entre tres y cinco idiomas diferentes.
# (Se esperan 2 columnas y 80 registros).
query_dml("SELECT country.name, count(countrylanguage.countrycode) as cantidad_idiomas FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode GROUP BY country.name HAVING cantidad_idiomas BETWEEN 3 AND 5;", operacion='read')

# 48. Mostrar los distritos, junto al nombre del país al que pertenecen, cuya población total (también listada) no supere los diez mil habitantes.
# (Se esperan 3 columnas y 35 registros).
query_dml("SELECT city.district, city.name, sum(city.population) as poblacion_suma FROM city INNER JOIN country ON city.countrycode = country.code GROUP BY district HAVING poblacion_suma < 10000;", operacion='read')

# 49. Mostrar las regiones junto a su densidad poblacional promedio, donde ésta supere a la mitad de la densidad poblacional máxima.
# (Se esperan 2 columnas y 3 registros).
query_dml("SELECT region, avg(population) as poblacion_promedio FROM country GROUP BY region HAVING poblacion_promedio > (SELECT max(population) / 2 FROM country);", operacion='read')

# 50. Mostrar los lenguajes oficiales junto a su porcentaje promedio de habla, cuyo promedio no supere un dígito entero.
# (Se esperan 2 columnas y 7 registros).
query_dml("SELECT language, avg(percentage) as promedio_habla FROM countrylanguage GROUP BY language HAVING promedio_habla < 1;", operacion='read')

In [ ]:
# 26. Listar los nombres de los países sudamericanos junto a los nombres (alias 'Capital') de sus capitales.
# (Se esperan 2 columnas y 14 registros).
query_dml("SELECT name AS pais, capital AS Capital FROM country WHERE continent = 'South America';", operacion='read')

# 27. Listar el código de país, junto a los nombres de las ciudades y su cantidad de habitantes, de aquellos cuya expectativa de vida sea mayor a 80.
# (Se esperan 3 columnas y 253 registros).
query_dml("SELECT country.code, city.name AS nombre_ciudad, city.population AS poblacion FROM country INNER JOIN city ON country.code = city.countrycode WHERE country.lifeexpectancy > 80;", operacion='read')

# 28. Listar las capitales de los países cuya forma de gobierno sea una República Federal.
# (Se esperan 2 columnas y 15 registros).
query_dml("SELECT country.name AS Capital FROM country INNER JOIN city ON city.id = country.capital WHERE governmentform = 'Federal Republic';", operacion='read')

# 29. Listar los lenguajes oficiales, junto al nombre de sus respectivos países, donde la cantidad de habitantes de dicho país esté entre un millón y tres millones.
# (Se esperan 2 columnas y 14 registros).
query_dml("SELECT countrylanguage.language, country.name AS pais FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE country.population BETWEEN 1000000 AND 3000000;", operacion='read')

# 30. Listar los códigos, los nombres locales y la región a la que pertenecen aquellos países donde se hable español.
# (Se esperan 3 columnas y 28 registros).
query_dml("SELECT country.code, country.localname, country.region FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE countrylanguage.language = 'Spanish';", operacion='read')

# 31. Listar los nombres y las capitales de los países en cuya capital se concentre más de la mitad de su población total.
# (Se esperan 2 columnas y 14 registros).
query_dml("SELECT country.name, city.name AS Capital FROM country INNER JOIN city ON country.capital = city.id WHERE city.population > country.population / 2;", operacion='read')

# 32. Listar los nombres y la superficie de los países africanos cuya capital coincida con el nombre del distrito a la que pertenece.
# (Se esperan 2 columnas y 32 registros).
query_dml("SELECT country.name, country.surfacearea FROM country INNER JOIN city ON country.capital = city.id WHERE city.name = city.district AND country.continent = 'Africa';", operacion='read')

# 33. Listar los nombres, las capitales y el año de independencia (sin nulos) de los 20 países más antiguos.
# (Se esperan 3 columnas y 20 registros).
query_dml("SELECT country.name, city.name AS Capital, country.indepyear FROM country INNER JOIN city ON country.capital = city.id WHERE country.name IS NOT NULL AND city.name IS NOT NULL AND country.indepyear IS NOT NULL ORDER BY country.indepyear DESC LIMIT 20;", operacion='read')

# 34. Listar las ciudades junto a sus idiomas oficiales, donde no se hable español, inglés, portugués, italiano, francés o alemán de manera oficial.
# (Se esperan 2 columnas y 2694 registros).
query_dml("SELECT city.name AS nombre_ciudad, countrylanguage.language FROM country INNER JOIN city ON country.code = city.countrycode INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE countrylanguage.language NOT IN ('Spanish', 'English', 'Portuguese', 'German', 'Italian', 'French');", operacion='read')

# 35. Listar nombre, población y país de las diez ciudades europeas de habla inglesa más pobladas.
# (Se esperan 3 columnas y 10 registros).
query_dml("SELECT city.name AS nombre_ciudad, city.population AS poblacion, country.name AS pais FROM country INNER JOIN city ON country.capital = city.id WHERE country.continent = 'Europe' GROUP BY city.name ORDER BY city.population DESC LIMIT 10;", operacion='read')

In [ ]:
# 6. Listar toda la información de los países, ordenados por población de manera ascendente.
# (Se esperan 15 columnas y 239 registros).
query_dml("SELECT * FROM country ORDER BY population ASC;", operación='read')

# 7. Listar nombre de los lenguajes en orden alfabético.
# (Se espera 1 columna y 984 registros).
query_dml("SELECT countrylanguage.Language FROM countrylanguage ORDER BY language ASC;", operación='read')

# 8. Listar nombre y cantidad de habitantes de las veinte ciudades menos pobladas.
# (Se esperan 2 columnas y 20 registros).
query_dml("SELECT name, population FROM country GROUP BY name ORDER BY population ASC LIMIT 20;", operación='read')

# 9. Listar código, nombre y año de independencia de todos los países, ordenados por antigüedad descendente.
# (Se esperan 3 columnas y 239 registros).
query_dml("SELECT code, name, indepyear FROM country GROUP BY name ORDER BY indepyear DESC;", operación='read')

# 10. Listar nombre y continente de los cien países con mayor expectativa de vida. Si hubiera países que tengan la misma expectativa de vida, mostrar primero
# a los de menor superficie.
# (Se esperan 2 columnas y 100 registros).
query_dml("SELECT name, continent FROM country GROUP BY name ORDER BY lifeexpectancy DESC, surfacearea ASC LIMIT 100;", operación='read')

#### FUNCIONES DE AGRUPAMIENTO

In [ ]:
# 36. Mostrar según la tabla de países, la cantidad total de población, la población máxima, la población mínima, el promedio de población y con cuántos registros de población se cuenta.
# (Se esperan 5 columnas y 1 registro).
query_dml("SELECT count(population) as poblacion, max(population) as poblacion_maxima, min(population) as poblacion_minima, avg(population) as poblacion_promedio, count(*) as cantidad_registros FROM country;", operacion='read')

# 37. Mostrar según la tabla de países, la cantidad total de población, la población máxima, la población mínima y el promedio de población, por cada continente.
# (Se esperan 5 columnas y 7 registros).
query_dml("SELECT continent, count(population) as cantidad_poblacion, max(population) as poblacion_maxima, min(population) as poblacion_minima, avg(population) as poblacion_promedio FROM country GROUP BY continent;", operacion='read')

# 38. Agrupar a todos los países según el continente al que pertenecen. Mostrar los continentes junto a la cantidad de naciones que pertenecen a cada uno.
# (Se esperan 2 columnas y 7 registros).
query_dml("SELECT continent, count(name) as cantidad_naciones FROM country GROUP BY continent;", operacion='read')

# 39. Agrupar a todas las ciudades según el país al que pertenecen. Mostrar los códigos de países junto a la sumatoria total de habitantes de cada uno.
# (Se esperan 2 columnas y 232 registros).
query_dml("SELECT city.name, country.name, country.code, sum(city.population) as total_habitantes FROM country INNER JOIN city ON country.code = city.countrycode GROUP BY country.code;", operacion='read')

# 40. Agrupar a todos los lenguajes según su nombre. Mostrar los nombres de los lenguajes junto al porcentaje de habla mínimo registrado para cada uno.
# (Se esperan 2 columnas y 457 registros).
query_dml("SELECT language, min(percentage) as porcentaje_minimo FROM countrylanguage GROUP BY language;", operacion='read')

# 41. Mostrar las distintas formas de gobierno posibles de los países europeos junto a su correspondiente promedio de población que vive bajo estas circunstancias.
# (Se esperan 2 columnas y 10 registros).
query_dml("SELECT governmentform, avg(population) as poblacion_promedio FROM country WHERE continent = 'Europe' GROUP BY governmentform;", operacion='read')

# 42. Mostrar las diez regiones de mayor expectativa de vida promedio.
# (Se esperan 2 columnas y 10 registros).
query_dml("SELECT region, avg(lifeexpectancy) as expectativa_vida_promedio FROM country GROUP BY region ORDER BY expectativa_vida_promedio DESC LIMIT 10;", operacion='read')

# 43. Mostrar los nombres de los diez distritos de mayor cantidad de ciudades con cantidad de habitantes mayor al medio millón, junto a la cantidad de ciudades.
# (Se esperan 3 columnas y 10 registros).
query_dml("SELECT district, count(name) as cantidad_ciudades FROM city WHERE population > 500000 GROUP BY district ORDER BY cantidad_ciudades DESC LIMIT 10;", operacion='read')

# 44. Mostrar los nombres de los países que tengan ciudades en el Caribe, junto al número de las mismas por país.
# (Se esperan 2 columnas y 24 registros).
query_dml("SELECT country.name, count(city.name) as cantidad_ciudades_caribe FROM country INNER JOIN city ON city.countrycode = country.code WHERE city.name = 'Caribe' GROUP BY country.name;", operacion='read')

# 45. Mostrar los lenguajes existentes junto a la cantidad de países que lo hablan de manera oficial.
# (Se esperan 2 columnas y 102 registros).
query_dml("SELECT language, count(DISTINCT country.name) as cantidad_paises_que_lo_hablan FROM country INNER JOIN countrylanguage ON country.code = countrylanguage.countrycode GROUP BY language;", operacion='read')

### CIERRE DE CONEXION BBDD INUPDE

In [ ]:
db_inupde.commit()
db_inupde.close()

OperationalError: disk I/O error

### CIERRE DE CONEXION BBDD WORLD

In [ ]:
db_world.commit()
db_world.close()